!!!
%html{:lang => 'en'}

	%head

		%meta{:charset => 'utf-8'}
		%meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge'}

		%title Error 404 | Sportsman's Warehouse

		%meta{:name => 'description', :content => 'You have encountered a catastrophic error. Please evacuate the internet. Thank you.'}
		%meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}

		%link{:rel => 'stylesheet', :href => 'assets/css/styles.css'}

	%body.error_404

		%main{:role => 'main'}

			%section#error.error
				%article.error
					%h1 Error 404
					%h2
						Nope. Nothing here.
						%a{:href => 'http://google.ca/', :title => 'Return Home'} Return Home.

		%script{:src => 'assets/js/scripts.js'}