!!!
%html#root{:lang => "en"}

	= Haml::Engine.new(File.read("dev/haml/partials/_html_head.haml")).render

	%body#error_404.page_error-404

		:plain
			<!-- inject:svg --><!-- endinject -->

		-# using modal styes: applied via 'wrap_content' class
		%main.wrap_content{:role => "main", "data-container" => "width-926"}
			%h1#page_title Error 404
			%p There seems to have been an error. Please use the link below to return to the start page.
			%a#error_home.arrow_right{:href => "#", :title => "Return Home"} Return Home

		%script{:src => "assets/js/scripts.js"}