!!!
%html#root{:lang => "en"}

	= Haml::Engine.new(File.read("dev/haml/partials/common/_html_head.haml")).render

	%body#csr_info.page_csr-info

		= Haml::Engine.new(File.read("dev/haml/partials/common/_js_svg.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/csr/_header_csr.haml")).render

		-# using modal styes: applied via 'wrap_content' class
		%main.wrap_content{:role => "main"}

			%form#csr-info_form.csr-info_form{:action => "", :method => "GET", :novalidate => true}

				%h1 Customer First Name:
				%input#csr-firstname_text.csr-firstname_text{:type => "text", :name => "firstname", :value => "", :autocomplete => "off", :placeholder => "Enter First Name", :required => true}

				%hr

				%h1 Customer Last Name:
				%input#csr-lastname_text.csr-lastname_text{:type => "text", :name => "lastname", :value => "", :autocomplete => "off", :placeholder => "Enter Last Name", :required => true}

				%hr

				%h1 Customer Email Address:
				%input#csr-email_email.csr-email_email{:type => "email", :name => "emailaddress", :value => "", :autocomplete => "off", :placeholder => "Enter Email", :required => true}

				%hr

				%h1 Transaction Number:
				%input#csr-transaction_text.csr-transaction_text{:type => "text", :name => "transaction", :value => "", :autocomplete => "off", :placeholder => "Enter Number", :required => true}

				%button.arrow_right Submit and Log Out

		= Haml::Engine.new(File.read("dev/haml/partials/common/_html_footer-scripts.haml")).render