!!!
%html#root{:lang => "en"}

	= Haml::Engine.new(File.read("dev/haml/partials/common/_html_head.haml")).render

	%body#csr_access.page_csr-access

		= Haml::Engine.new(File.read("dev/haml/partials/common/_js_svg.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/csr/_header_csr.haml")).render

		-# using modal styes: applied via 'wrap_content' class
		%main.wrap_content{:role => "main", "data-container" => "width-926"}

			%form#csr-access_form{:action => "", :method => "GET", :novalidate => true}
				%h1 Enter your access code:
				%input#csr-access_password.csr-access_password{:type => "password", :name => "access", :value => "", :maxlength => "4", :placeholder => "– – – –", :required => true}
				%button.arrow_right Continue

		= Haml::Engine.new(File.read("dev/haml/partials/common/_html_footer-scripts.haml")).render