!!!
%html#root{:lang => "en"}

	= Haml::Engine.new(File.read("dev/haml/partials/common/_html_head.haml")).render

	%body#csr_phone.page_csr-phone

		:plain
			<!-- inject:svg --><!-- endinject -->

		= Haml::Engine.new(File.read("dev/haml/partials/csr/_header_csr.haml")).render

		-# using modal styes: applied via 'wrap_content' class
		%main.wrap_content{:role => "main", "data-container" => "width-926"}

			%form#csr-phone_form{:action => "", :method => "GET"}
				%h1 Enter customer phone number:
				%input#csr-phone_tel.csr-phone_tel{:type => "tel", :name => "phone", :value => "", :autocomplete => "off", :placeholder => "Enter Number", :required => true}
				%button.arrow_right Continue

		= Haml::Engine.new(File.read("dev/haml/partials/common/_html_scripts.haml")).render