!!!
%html{:lang => "en"}

	= Haml::Engine.new(File.read("dev/haml/partials/_m-head.haml")).render

	%body

		:plain
			<!-- inject:svg --><!-- endinject -->

		= Haml::Engine.new(File.read("dev/haml/partials/_m-header.haml")).render

		%main{:role => "main", "data-container" => "width-926"}

			= Haml::Engine.new(File.read("dev/haml/partials/_m-grid.haml")).render

		%script{:src => "assets/js/scripts.js"}