// ==|== primary styles =======================================================
// ============================================================================

// Foundation
// ----------------------------------------------------------------------------
html,
body {
	min-height: 100%;
	height: 100%;
}
html,
button,
input,
optgroup,
select,
textarea {
	font-family: 'Futura-std', sans-serif;
	letter-spacing: 0.05em;
	// font-family: 'Playfair Display', 'Goudy Old Style', Garamond, 'Big Caslon', Georgia, Times, 'Times New Roman', serif;
}
body {
	position: relative;
	padding: 4.8rem 0;
}
::-moz-selection {
	background-color: hsla(0,0%,0%,1);
}
::selection {
	background-color: hsla(0,0%,0%,1);
}

// Transitions
// ----------------------------------------------------------------------------
svg {
	transition: fill 0.2s ease-in-out;
}
a,
input,
button {
	transition: all 0.2s ease-in-out;
}
/*
nav.filter_form div p {
	transition: border-color 0.2s ease-in-out;
}
nav.filter_form div p::after {
	transition: border-top-color 0.2s ease-in-out;
}
nav.filter_form div ul {
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
*/


// General Styles
// ----------------------------------------------------------------------------
main {
}
section {
}
article {
}
svg {
	display: block;
	width: 100%;
	height: 100%;
	// fill: hsla(0,0%,100%,1);
}
/*
div.overlay {
	min-height: 100%;
}
*/

// --- Containers --- \\
[data-container] {
	margin-left: auto;
	margin-right: auto;
}
[data-container="width-998"] {
	max-width: 99.8rem;
}
[data-container="width-926"] {
	max-width: 92.6rem;
}

// --- Arrow Buttons --- \\
a.arrow_left,
a.arrow_right {
	display: block;
	position: relative; // more than likely going to be absolute in all cases...
	height: 5rem;
	font-size: 1.7rem;
	line-height: 5rem; // center text vertically
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	color: hsla(0,0%,20%,1);
	// border-radius: 0.1rem; // softens the edge connecting the triangle
}
a.arrow_left {
	// left: 2.8rem; // width of triangle
	padding-right: 1.4rem; // half of triangle width - center text
}
a.arrow_right {
	// right: 2.8rem; // width of triangle
	padding-left: 1.4rem; // half of triangle width - center text
}
a.arrow_left::before,
a.arrow_right::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	width: 0;
	height: 0;
	border-top: 2.5rem solid transparent;
	border-bottom: 2.5rem solid transparent;
}
a.arrow_left::before {
	right: 100%;
	border-right: 2.8rem solid hsla(0,0%,90%,1);
}
a.arrow_right::before {
	left: 100%;
	border-left: 2.8rem solid hsla(0,0%,90%,1);
}
// + interaction + \\
a.arrow_left:hover,
a.arrow_right:hover {
	opacity: 0.7;
}
a.arrow_left:active,
a.arrow_right:active {
	opacity: 0.9;
}

// ==|== header styles ========================================================
// ============================================================================
header div.top_row {
	position: relative;
	margin-bottom: 6rem;
}
// --- Top Row --- \\
header div.logo_sportsmans {
	margin: 0 auto;
	width: 18rem;
	height: 8.5rem;
}
header a.button_back,
aside.widget_cart {
	position: absolute;
	top: 2rem;
}
// + button: back + \\
/*
header a.button_back {
	left: 2.8rem; // width of triangle
	width: 29rem; // 318px - 28px
	font-size: 1.5rem;
	background-color: hsla(0,0%,90%,1);
}
*/
header a.button_back {
	width: 31.8rem;
	height: 5rem;
	font-size: 1.5rem;
	line-height: 5rem; // center text vertically
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	color: hsla(0,0%,60%,1);
}
header a.button_back span {
	display: block;
	padding-left: 0.7rem; // 1/4 of the arrow width
}
header a.button_back svg {
	position: absolute;
	top: 0;
	left: 0;
	fill: hsla(0,0%,80%,1);
}
header a.button_back:hover {
	color: hsla(0,0%,50%,1);
}
header a.button_back:hover svg {
	fill: hsla(0,0%,70%,1);
}
header a.button_back:active {
	color: hsla(0,0%,60%,1);
}
header a.button_back:active svg {
	fill: hsla(0,0%,80%,1);
}
// + widget: cart + \\
aside.widget_cart {
	right: 0;
	width: 38rem;
	height: 5rem;
}
aside.widget_cart div.text_wrap {
	position: absolute;
	text-align: right;
	right: 19rem;
}
aside.widget_cart div.text_wrap div.svg_wrap {
	position: absolute;
	top: 0.2rem;
	left: -4rem;
	width: 2rem;
	height: 2rem;
}
aside.widget_cart div.text_wrap div.svg_wrap svg {
	fill: hsla(0,0%,50%,1);
}
aside.widget_cart div.text_wrap p {
	font-size: 1.5rem;
	color: hsla(0,0%,50%,1);
	white-space: nowrap;
}
aside.widget_cart div.text_wrap p.widget_cart-items {
	margin: 0.6rem 0;
}
aside.widget_cart a.button_cart {
	position: absolute;
	top: 0;
	right: 2.8rem; // width of triangle
	width: 14.2rem; // 170px - 28px
	background-color: hsla(0,0%,90%,1);
}
// --- Title Row --- \\
header div.title_row {
	position: relative;
	margin-bottom: 6rem;
}
header div.title_row h1 {
	margin: 0 auto 3.2rem auto;
	max-width: 54rem;
	font-size: 4.8rem;
	// letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
}
header div.title_row a.button_circle {
	display: block;
	position: absolute;
	top: 0;
	width: 12.4rem;
	height: 12.4rem;
	line-height: 12.4rem;
	text-align: center;
	text-transform: uppercase;
	color: hsla(0,0%,100%,1);
	background-color: hsla(0,0%,70%,1);
	border-radius: 50%;
}
header div.title_row a.button_circle span {
	display: inline-block;
	padding: 0 1rem;
	vertical-align: middle;
	line-height: 1.3;
}
// + individual buttons + \\
header div.title_row a.button_view-all {
	left: 0;
	font-size: 1.2rem;
}
header div.title_row a.button_start-over {
	right: 0;
	font-size: 2.2rem;
}
// + interaction + \\
header div.title_row a.button_circle:hover {
	opacity: 0.7;
}
header div.title_row a.button_circle:active {
	opacity: 0.9;
}
// + search form + \\
form.search_form {
	position: relative;
	margin: 0 auto;
	width: 48rem;
}
form.search_form input.search_text {
	width: 100%;
	padding: 2rem 4rem 1.7rem 8rem;
	font-size: 1.7rem;
	text-transform: uppercase;
	// text-overflow: ellipsis;
	// white-space: nowrap;
	color: hsla(0,0%,50%,1);
	border: 0.3rem solid hsla(0,0%,80%,1);
	border-radius: 3.3rem; // computer height (66px) / 2
}
form.search_form input.search_submit {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 6.6rem;
	height: 6.6rem;
	color: hsla(0,0%,100%,0);
	background: hsla(0,0%,0%,0);
}
form.search_form div.svg_wrap {
	position: absolute;
	z-index: 9;
	top: 1.9rem;
	left: 2.6rem;
	width: 2.6rem;
	height: 2.6rem;
}
form.search_form div.svg_wrap svg {
	fill: hsla(0,0%,60%,1);
}
form.search_form input.search_submit:hover + div.svg_wrap svg {
	fill: hsla(0,0%,40%,1);
}
form.search_form input.search_submit:active + div.svg_wrap svg {
	fill: hsla(0,0%,60%,1);
}
// --- Pagination --- \\
nav.product_pagination {
	margin-bottom: 6rem;
}
nav.product_pagination ul {
	position: relative;
	height: 5rem;
	text-align: center;
}
// + prev & next + \\
nav.product_pagination ul li.pagi_prev,
nav.product_pagination ul li.pagi_next {
	position: absolute;
	top: 0;
	width: 17rem;
	height: 5rem;
}
nav.product_pagination ul li.pagi_prev {
	left: 0;
}
nav.product_pagination ul li.pagi_next {
	right: 0;
}
nav.product_pagination ul li.pagi_prev a,
nav.product_pagination ul li.pagi_next a {
	width: 14.2rem; // 170px - 28px
	background-color: hsla(0,0%,90%,1);
}
nav.product_pagination ul li.pagi_prev a {
	left: 2.8rem; // width of triangle
}
nav.product_pagination ul li.pagi_prev a.disabled {
	opacity: 0.5;
	pointer-events: none;
}
// + between links + \\
nav.product_pagination ul li.pagi_between {
	display: inline-block;
	margin-right: 1.6rem;
	transform: translateY(-0.2rem);
}
nav.product_pagination ul li:nth-last-child(2) {
	margin-right: 0;
}
nav.product_pagination ul li.pagi_between a {
	display: block;
	width: 5.4rem;
	height: 5.4rem;
	font-size: 1.7rem;
	line-height: 5.4rem; // vertical center text
	color: hsla(0,0%,0%,1);
	background-color: hsla(0,0%,90%,1);
	border-radius: 50%;
}
// + interaction + \\
nav.product_pagination ul li.pagi_between a:hover {
	opacity: 0.7;
}
nav.product_pagination ul li.pagi_between a:active {
	opacity: 0.9;
}
nav.product_pagination ul li.pagi_current a {
	color: hsla(0,0%,100%,1);
	background-color: hsla(0,0%,50%,1);
	pointer-events: none;
}

// --- Filters --- \\
nav.filter_form {
	margin-bottom: 3.2rem;
}
nav.filter_form div {
	cursor: pointer;
	display: inline-block;
	position: relative;
	margin-right: 2.6rem;
	height: 4.8rem; // computer height from child <p>
}
nav.filter_form div:last-child {
	margin-right: 0;
}
nav.filter_form div p {
	position: relative;
	padding: 1.4rem 4rem 1.3rem 1.6rem;
	font-size: 1.5rem;
	text-transform: uppercase;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: hsla(0,0%,50%,1);
	border: 0.3rem solid hsla(0,0%,80%,1);
	border-radius: 2.4rem; // computer height (48px) / 2
}
nav.filter_form div p::after {
	content: "";
	display: block;
	position: absolute;
	top: 1.6rem;
	right: 1.6rem;
	width: 0;
	height: 0;
	border-left: 0.9rem solid transparent;
	border-right: 0.9rem solid transparent;
	border-top: 0.9rem solid hsla(0,0%,80%,1);
}
// + dropdowns + \\
nav.filter_form div ul {
	position: absolute;
	top: 4.2rem;
	left: 0;
	right: 0;
	border: 0.3rem solid hsla(0,0%,60%,1);
	border-radius: 0 0 2.4rem 2.4rem; // computer height (48px) / 2
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
}
nav.filter_form div ul li {
	border-bottom: 0.3rem solid hsla(0,0%,80%,1);
}
nav.filter_form div ul li:last-child {
	border-bottom: none;
}
nav.filter_form div ul li a {
	display: block;
	padding: 1.6rem;
	font-size: 1.5rem;
	text-transform: uppercase;
	color: hsla(0,0%,0%,1);
	background-color: hsla(0,0%,100%,1);
}

// + specific filters + \\
nav.filter_form div.filter_brand {
	width: 35.4rem;
}
nav.filter_form div.filter_caliber,
nav.filter_form div.filter_price {
	width: 16rem;
}

// + toggled styles + \\
nav.filter_form div p.toggled {
	// border-radius: 2.4rem 2.4rem 0 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-color: hsla(0,0%,60%,1);
}
nav.filter_form div p.toggled::after {
	border-top-color: hsla(0,0%,60%,1);
}
nav.filter_form div p.toggled + ul {
	opacity: 1;
	visibility: visible;
}

// + interaction + \\
nav.filter_form div:hover p {
	border-color: hsla(0,0%,60%,1);
}
nav.filter_form div:hover p::after {
	border-top-color: hsla(0,0%,60%,1);
}
nav.filter_form div ul li a:hover {
	background-color: hsla(0,0%,94%,1);
}
/*
nav.filter_form div:active p {
	border-color: hsla(0,0%,80%,1);
}
nav.filter_form div:active p::after {
	border-top-color: hsla(0,0%,80%,1);
}
*/
nav.filter_form div ul li a:active {
	background-color: hsla(0,0%,96%,1);
}

/* SELECT STYLING
form.filter_form {
	margin-bottom: 3.2rem;
}
form.filter_form select {
	-webkit-appearance: button; // none;
	-webkit-user-select: none;
	cursor: pointer;
	margin-right: 2.6rem;
	padding: 1.2rem 1.6rem 1rem 1.6rem;
	font-size: 1.5rem;
	text-transform: uppercase;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: hsla(0,0%,50%,1);
	background-color: #fff;
	background-image: url('../img/tri_down.png');
	background-position: right 1.6rem center;
	background-repeat: no-repeat;
	background-size: 1.6rem 0.9rem;
	outline: none;
	border: 0.3rem solid hsla(0,0%,80%,1);
	border-radius: 2.3rem; // computer height (46px) / 2
	overflow: hidden;
}
form.filter_form select:last-child {
	margin-right: 0;
}
// + specific filters + \\
form.filter_form select.filter_brand {
	width: 35.4rem;
}
form.filter_form select.filter_caliber,
form.filter_form select.filter_price {
	width: 16rem;
}
*/


// ==|== page styles ==========================================================
// ============================================================================

// Product Grid
// ----------------------------------------------------------------------------
section.product_grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
section.product_grid article.product_item {
	flex: 0 1 16rem;
	margin: 3.2rem 3.15rem 0 0;
	height: 24rem;
}
section.product_grid article.product_item:nth-child(-n+5) {
	margin-top: 0;
}
section.product_grid article.product_item:last-child,
section.product_grid article.product_item:nth-child(5n) {
	margin-right: 0;
}
section.product_grid article.product_item a.product_link {
	display: block;
	padding: 2rem;
	height: 100%;
	text-align: center;
	background-color: hsla(0,0%,100%,1);
	border: 0.3rem solid hsla(0,0%,80%,1);
	// box-shadow: inset 0 0 0 0.3rem hsla(0,0%,80%,1);
}
section.product_grid article.product_item a.product_link:hover {
	background-color: hsla(0,0%,94%,1);
}
section.product_grid article.product_item a.product_link:active {
	background-color: hsla(0,0%,90%,1);
}
section.product_grid article.product_item a.product_link div.wrap_image {
	display: flex;
	margin-bottom: 2rem;
	height: 10rem;
}
section.product_grid article.product_item a.product_link div.wrap_image img {
	margin: auto;
	max-height: 100%;
	// mix-blend-mode: multiply;
}
section.product_grid article.product_item a.product_link h1.product_title {
	margin-bottom: 1.8rem;
	height: 4.7rem;
	font-size: 1.4rem;
	line-height: 1.2;
	color: hsla(0,0%,0%,1);
	// Webkit only line-clamp
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow-y: hidden;
}
section.product_grid article.product_item a.product_link h2.product_price {
	font-size: 1.6rem;
	color: hsla(0,0%,50%,1);
}