// ==|== primary styles =======================================================
// ============================================================================

// Foundation
// ----------------------------------------------------------------------------
/*
html,
body {
	min-height: 100%;
	height: 100%;
}
*/
html,
button,
input,
optgroup,
select,
textarea {
	font-family: 'Futura-std', sans-serif;
	letter-spacing: 0.05em;
	// user-select: none;
}
html {
	user-select: none; // intentionally disabling text-highlighting... since it shouldn't be necessary
}
body {
	position: relative;
	padding: 4.8rem 0;
	min-height: 192rem;
}
/*
::-moz-selection {
	background-color: hsla(0,0%,0%,1);
}
::selection {
	background-color: hsla(0,0%,0%,1);
}
*/


input::-webkit-input-placeholder {
	color: hsla(0,0%,70%,1);
}
input:focus::-webkit-input-placeholder {
	color: hsla(0,0%,90%,1);
}


// Transitions
// ----------------------------------------------------------------------------
svg {
	transition: fill 0.2s ease-in-out;
}
a,
span,
input,
button {
	transition: all 0.2s ease-in-out;
}
[data-modal] {
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
/*
form.filter_form div p {
	transition: border-color 0.2s ease-in-out;
}
form.filter_form div p::after {
	transition: border-top-color 0.2s ease-in-out;
}
form.filter_form div ul {
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
*/


// General Styles
// ----------------------------------------------------------------------------
main {
}
section {
}
article {
}
svg {
	display: block;
	width: 100%;
	height: 100%;
}
/*
div.overlay {
	min-height: 100%;
}
*/

// --- Containers --- \\
[data-container] {
	margin-left: auto;
	margin-right: auto;
}
[data-container="width-998"] {
	max-width: 99.8rem;
}
[data-container="width-926"] {
	max-width: 92.6rem;
}

// --- Arrow Buttons --- \\
.arrow_left,
.arrow_right {
	display: block;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}
.arrow_left::before,
.arrow_right::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	width: 0;
	height: 0;
	border-top-style: solid;
	border-top-color: transparent;
	border-bottom-style: solid;
	border-bottom-color: transparent;
}
.arrow_left::before {
	right: 100%;
	border-right-style: solid;
}
.arrow_right::before {
	left: 100%;
	border-left-style: solid;
}
// + interaction + \\
.arrow_left:hover,
.arrow_right:hover {
	opacity: 0.7;
}
.arrow_left:active,
.arrow_right:active {
	opacity: 0.9;
}

// + arrow submit + \\
.wrap_content .arrow_left,
.wrap_content .arrow_right {
	margin: 0 auto;
	width: 42.8rem; // 480px - 52px
	height: 9.8rem;
	line-height: 9.8rem;
	font-size: 3.3rem;
	color: hsla(0,0%,20%,1);
	background-color: hsla(0,0%,90%,1);
}
.wrap_content .arrow_left::before,
.wrap_content .arrow_right::before {
	border-top-width: 4.9rem;
	border-bottom-width: 4.9rem;
	border-left-width: 5.2rem;
	border-left-color: hsla(0,0%,90%,1);
}
.wrap_content .arrow_left {
	right: -1.3rem; // 1/4 of arrow width
	padding-right: 1.3rem; // 1/4 of arrow width
	background-color: hsla(0,0%,96%,1);
}
.wrap_content .arrow_right {
	left: -1.3rem; // 1/4 of arrow width
	padding-left: 1.3rem; // 1/4 of arrow width
	margin-bottom: 6rem;
	background-color: hsla(0,0%,90%,1);
}
.wrap_content .arrow_left::before {
	border-right-width: 5.2rem;
	border-right-color: hsla(0,0%,96%,1);
}
.wrap_content .arrow_right::before {
	border-left-width: 5.2rem;
	border-left-color: hsla(0,0%,90%,1);
}

// ==|== header styles ========================================================
// ============================================================================
header div.top_row {
	position: relative;
	margin-bottom: 6rem;
}
// --- Top Row --- \\
header div.logo_sportsmans {
	margin: 0 auto;
	width: 18rem;
	height: 8.5rem;
}
header a.button_back,
aside.widget_cart {
	position: absolute;
	top: 2rem;
}
// --- Button: Back --- \\
header a.button_back {
	width: 31.8rem;
	height: 5rem;
	line-height: 5rem; // center text vertically
	font-size: 1.5rem;
	text-align: center;
	text-transform: uppercase;
	color: hsla(0,0%,60%,1);
}
header a.button_back span {
	display: block;
	padding-left: 0.7rem; // 1/4 of the arrow width
}
header a.button_back svg {
	position: absolute;
	top: 0;
	left: 0;
	fill: hsla(0,0%,80%,1);
}
// + interaction + \\
header a.button_back:hover {
	color: hsla(0,0%,50%,1);
}
header a.button_back:hover svg {
	fill: hsla(0,0%,70%,1);
}
header a.button_back:active {
	color: hsla(0,0%,60%,1);
}
header a.button_back:active svg {
	fill: hsla(0,0%,80%,1);
}
// --- Widget: Cart --- \\
aside.widget_cart {
	right: 0;
	width: 38rem;
	height: 5rem;
}
aside.widget_cart div.wrap_text {
	position: absolute;
	text-align: right;
	right: 19rem;
}
aside.widget_cart div.wrap_text div.wrap_svg {
	position: absolute;
	top: 0.2rem;
	left: -4rem;
	width: 2rem;
	height: 2rem;
}
aside.widget_cart div.wrap_text div.wrap_svg svg {
	fill: hsla(0,0%,50%,1);
}
aside.widget_cart div.wrap_text p {
	font-size: 1.5rem;
	color: hsla(0,0%,50%,1);
	white-space: nowrap;
}
aside.widget_cart div.wrap_text p.widget_cart-items {
	margin: 0.6rem 0;
}
aside.widget_cart a.arrow_right {
	position: absolute;
	top: 0;
	right: 2.8rem; // width of triangle
	padding-left: 1.4rem; // half of triangle width - center text
	width: 14.2rem; // 170px - 28px
	height: 5rem;
	line-height: 5rem; // center text vertically
	font-size: 1.7rem;
	color: hsla(0,0%,20%,1);
	background-color: hsla(0,0%,90%,1);
}
aside.widget_cart a.arrow_right::before {
	border-top-width: 2.5rem;
	border-bottom-width: 2.5rem;
	border-left-width: 2.8rem;
	border-left-color: hsla(0,0%,90%,1);
}



// --- Title Row --- \\
header div.title_row {
	position: relative;
	margin-bottom: 6rem;
}
header div.title_row h1 {
	margin: 0 auto 3.2rem auto;
	max-width: 54rem;
	font-size: 4.8rem;
	text-align: center;
	text-transform: uppercase;
}
header div.title_row a.button_circle {
	display: block;
	position: absolute;
	top: 0;
	width: 12.4rem;
	height: 12.4rem;
	line-height: 12.4rem;
	text-align: center;
	text-transform: uppercase;
	color: hsla(0,0%,100%,1);
	background-color: hsla(0,0%,70%,1);
	border-radius: 50%;
}
header div.title_row a.button_circle span {
	display: inline-block;
	padding: 0 1rem;
	vertical-align: middle;
	line-height: 1.3;
}
// + individual buttons + \\
header div.title_row a.button_view-all {
	left: 0;
	font-size: 1.2rem;
}
header div.title_row a.button_start-over {
	right: 0;
	font-size: 2.2rem;
}
// + interaction + \\
header div.title_row a.button_circle:hover {
	opacity: 0.7;
}
header div.title_row a.button_circle:active {
	opacity: 0.9;
}
// --- Search Form --- \\
form.search_form {
	position: relative;
	margin: 0 auto;
	width: 48rem;
}
form.search_form input.search_text {
	width: 100%;
	height: 6.4rem;
	padding: 0.3rem 0 0 7.8rem;
	font-size: 1.7rem;
	text-transform: uppercase;
	color: hsla(0,0%,50%,1);
	border: 0.3rem solid hsla(0,0%,80%,1);
	border-radius: 3.2rem; // computer height (66px) / 2
}
form.search_form button {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	padding: 0;
	width: 6.4rem;
	height: 6.4rem;
}
form.search_form button svg {
	position: absolute;
	top: 1.9rem;
	left: 2.6rem;
	width: 2.6rem;
	height: 2.6rem;
	fill: hsla(0,0%,60%,1);
}
// + interaction + \\
form.search_form button:hover svg {
	fill: hsla(0,0%,40%,1);
}
form.search_form button:active svg {
	fill: hsla(0,0%,60%,1);
}
// --- Filters --- \\
form.filter_form {
	margin-bottom: 3.2rem;
}
form.filter_form div {
	cursor: pointer;
	display: inline-block;
	position: relative;
	z-index: 20;
	margin-right: 2.6rem;
	// height: 4.8rem; // computed height from child <p>
}
form.filter_form div:last-child {
	margin-right: 0;
}
form.filter_form div p {
	position: relative;
	// z-index: 101;
	padding: 0 4rem 0 2rem;
	height: 4.8rem;
	line-height: 4.2rem; // height - border
	font-size: 1.5rem;
	text-transform: uppercase;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: hsla(0,0%,50%,1);
	background-color: hsla(0,0%,100%,1);
	border: 0.3rem solid hsla(0,0%,80%,1);
	border-radius: 2.4rem; // computer height (48px) / 2
}
form.filter_form div p::after {
	content: "";
	display: block;
	position: absolute;
	top: 1.6rem;
	right: 1.6rem;
	width: 0;
	height: 0;
	border-left: 0.9rem solid transparent;
	border-right: 0.9rem solid transparent;
	border-top: 0.9rem solid hsla(0,0%,80%,1);
}
// + dropdowns + \\
form.filter_form div ul {
	position: absolute;
	// z-index: 102;
	top: 4.2rem;
	left: 0;
	right: 0;
	border: 0.3rem solid hsla(0,0%,60%,1);
	border-radius: 0 0 2.4rem 2.4rem; // computer height (48px) / 2
	// overflow: hidden;
	opacity: 0;
	visibility: hidden;
	// overflow scrolling:
	max-height: 23.2rem;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
form.filter_form div ul li {
	border-bottom: 0.3rem solid hsla(0,0%,80%,1);
}
form.filter_form div ul li:last-child {
	border-bottom: none;
}
form.filter_form div ul li a {
	display: block;
	padding: 1.6rem;
	font-size: 1.5rem;
	text-transform: uppercase;
	color: hsla(0,0%,0%,1);
	background-color: hsla(0,0%,100%,1);
}

// + specific filters + \\
form.filter_form div.wrap_filter-brand {
	width: 35.4rem;
}
form.filter_form div.wrap_filter-caliber,
form.filter_form div.wrap_filter-price {
	width: 16rem;
}

// + toggled styles + \\
form.filter_form div p.toggled {
	// border-radius: 2.4rem 2.4rem 0 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-color: hsla(0,0%,60%,1);
}
form.filter_form div p.toggled::after {
	border-top-color: hsla(0,0%,60%,1);
}
form.filter_form div p.toggled + ul {
	opacity: 1;
	visibility: visible;
}

// + interaction + \\
form.filter_form div:hover p {
	border-color: hsla(0,0%,60%,1);
}
form.filter_form div:hover p::after {
	border-top-color: hsla(0,0%,60%,1);
}
form.filter_form div ul li a:hover {
	background-color: hsla(0,0%,94%,1);
}
/*
form.filter_form div:active p {
	border-color: hsla(0,0%,80%,1);
}
form.filter_form div:active p::after {
	border-top-color: hsla(0,0%,80%,1);
}
*/
form.filter_form div ul li a:active {
	background-color: hsla(0,0%,96%,1);
}

/*
// --- Dropdown Overlay --- \\
form.filter_form span.filter_overlay {
	display: block;
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: hsla(0,0%,0%,0.1);

	opacity: 0;
	visibility: hidden;
}
form.filter_form.overlay span.filter_overlay {
	opacity: 1;
	visibility: visible;
}
*/


// ==|== page styles ==========================================================
// ============================================================================

// Modals
// ----------------------------------------------------------------------------
[data-modal] {
	position: fixed;
	z-index: 900;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: hsla(0,0%,100%,0.96);
	opacity: 0;
	visibility: hidden;
}
[data-modal].visible {
	opacity: 1;
	visibility: visible;
}
// --- Wrap: Centered Content --- \\
.wrap_content {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	text-align: center;
	transform: translateY(-50%);
}
.wrap_content h1 {
	margin-bottom: 10rem;
	font-size: 6.7rem;
	line-height: 1.2;
}
.wrap_content h2 {
	margin-bottom: 8rem;
	padding: 0 2rem;
	font-size: 5.6rem;
	line-height: 1.2;
}
.wrap_content h3 {
	margin-bottom: 6rem;
	font-size: 5rem;
	line-height: 1.2;
}
.wrap_content p {
	margin-bottom: 6rem;
	font-size: 3.4rem;
	line-height: 1.3;
}
.wrap_content p:last-of-type {
	margin-bottom: 10rem;
}
// --- Modal: Phone --- \\
[data-modal="phone"] form input.phone_tel {
	margin-bottom: 12rem;
	width: 100%;
	height: 21.6rem;
	font-size: 9.8rem;
	text-align: center;
	border: 0.4rem solid hsla(0,0%,0%,1);
}
// --- Modal: Timeout Cart --- \\
// --- Modal: Timeout Empty --- \\


// --- TEMP: Modal Links --- \\
div.test_modal {
	position: absolute;
	top: 6rem;
	right: 0;
	left: 0;
	margin: 0 auto;
	width: 99.8rem;
}
div.test_modal a {
	display: inline-block;
	margin-right: 1.6rem;
	width: 5rem;
	height: 5rem;
	font-size: 2rem;
	line-height: 5rem;
	text-align: center;
	color: hsla(0,0%,60%,1);
	box-shadow: inset 0 0 0 0.3rem hsla(0,0%,80%,1);
}
div.test_modal a:hover {
	opacity: 0.8;
}
div.test_modal a:active {
	opacity: 0.9;
}




// Home Page
// ----------------------------------------------------------------------------
body.page_home {
	padding-top: 20rem;
	background-image: url('../img/bg_home.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}
body.page_home main div.logo_sportsmans {
	margin: 0 auto 6rem auto;
	width: 18rem;
	height: 8.5rem;
}
body.page_home main h1 {
	margin-bottom: 14rem;
	font-family: 'ArcherPro-Semibold';
	font-size: 3.9rem;
	text-align: center;
}
// --- Home Links --- \\
a.home_link {
	display: block;
	margin: 0 auto;
	width: 68.6rem;
	height: 31.6rem;
	line-height: 31.6rem;
	text-align: center;
	color: hsla(0,0%,0%,1);
	border: 0.5rem solid hsla(0,0%,50%,1);
}
a.home_link span {
	display: inline-block;
	font-size: 6.4rem;
	line-height: 1.3;
	text-transform: uppercase;
	vertical-align: middle;
}
// + individual links + \\
a.shop_hunting {
	margin-bottom: 6rem;
}
// + interaction + \\
a.home_link:hover {
	color: hsla(0,0%,40%,1);
	border-color: hsla(0,0%,70%,1);
}
a.home_link:active {
	color: hsla(0,0%,0%,1);
	border-color: hsla(0,0%,50%,1);
}

// Product Grid
// ----------------------------------------------------------------------------
section.product_grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
section.product_grid article.product_item a.product_link {
	display: block;
	position: relative;
	z-index: 10;
	padding: 2rem;
	height: 100%;
	text-align: center;
	background-color: hsla(0,0%,100%,1);
	// border: 0.3rem solid hsla(0,0%,80%,1); // causes FF to miscalculate width
	box-shadow: inset 0 0 0 0.3rem hsla(0,0%,80%,1);
}
section.product_grid article.product_item a.product_link:hover {
	background-color: hsla(0,0%,94%,1);
}
section.product_grid article.product_item a.product_link:active {
	background-color: hsla(0,0%,90%,1);
}
section.product_grid article.product_item a.product_link div.wrap_image {
	display: flex;
	margin-bottom: 2rem;
	height: 10rem;
}
section.product_grid article.product_item a.product_link div.wrap_image {
	height: 10rem;
}
section.product_grid article.product_item a.product_link div.wrap_image img {
	margin: auto;
	max-height: 100%;
}
section.product_grid article.product_item a.product_link h1 {
	line-height: 1.2;
	color: hsla(0,0%,0%,1);
	// Webkit only line-clamp
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow-y: hidden;
}
section.product_grid article.product_item a.product_link h2 {
	position: absolute;
	right: 0;
	bottom: 1.6rem;
	left: 0;
	color: hsla(0,0%,50%,1);
}
section.product_grid article.product_item a.product_link h2 span {
	display: block;
	font-size: 1.5rem;
}
// + grid: 4 + \\
section.product_grid.grid_4 article.product_item {
	flex: 0 1 20rem;
	margin: 4.2rem 4.2rem 0 0;
	height: 22.4rem;
}
section.product_grid.grid_4 article.product_item:nth-child(-n+4) {
	margin-top: 0;
}
section.product_grid.grid_4 article.product_item:nth-child(4n) {
	margin-right: 0;
}
section.product_grid.grid_4 article.product_item a.product_link h1 {
	height: 3.8rem;
	font-size: 1.6rem;
	text-transform: uppercase;
	// Webkit only line-clamp
	-webkit-line-clamp: 2;
}
section.product_grid.grid_4 article.product_item a.product_link h2 {
	font-size: 1.3rem;
	text-transform: uppercase;
}
// + grid: 5 + \\
section.product_grid.grid_5 article.product_item {
	flex: 0 1 16rem;
	margin: 3.2rem 3.15rem 0 0;
	height: 24.6rem;
}
section.product_grid.grid_5 article.product_item:nth-child(-n+5) {
	margin-top: 0;
}
section.product_grid.grid_5 article.product_item:nth-child(5n) {
	margin-right: 0;
}
section.product_grid.grid_5 article.product_item a.product_link h1 {
	height: 4.7rem;
	font-size: 1.4rem;
	// Webkit only line-clamp
	-webkit-line-clamp: 3;
}
section.product_grid.grid_5 article.product_item a.product_link h2 {
	font-size: 1.6rem;
}
section.product_grid.grid_5 article.product_item.product_range a.product_link h2 {
	font-size: 1.4rem;
}
section.product_grid.grid_5 article.product_item.product_range a.product_link h2 span {
	font-size: 1.2rem;
}
section.product_grid.grid_5 article.product_item a.product_link h2 span.price_sale {
	margin-bottom: 0.4rem;
	color: hsla(0,0%,0%,1);
}
section.product_grid.grid_5 article.product_item a.product_link h2 span.price_sale::before {
	content: "Sale: ";
}
section.product_grid.grid_5 article.product_item a.product_link h2 span.price_reg::before {
	content: "Reg: ";
}


// + grid: all + \\
section.product_grid article.product_item:last-child {
	margin-right: 0;
}

// --- Grid: Departments --- \\
body.page_product-departments header a.button_back {
	display: none;
}


// --- Grid: Categories --- \\



// --- Grid: Products --- \\




// --- Back To Top --- \\
a.back-to-top {
	display: block;
	position: fixed;
	z-index: 900;
	top: 0;
	right: 0;
	left: 0;
	height: 11.4rem;
	font-size: 2.8rem;
	line-height: 11.4rem;
	text-align: center;
	text-transform: uppercase;
	color: hsla(0,0%,0%,1);
	background-color: hsla(0,0%,80%,1);
	opacity: 0;
	visibility: hidden;
}
a.back-to-top.active {
	opacity: 1;
	visibility: visible;
}
// + interaction + \\
a.back-to-top:hover {
	background-color: hsla(0,0%,60%,1);
}
a.back-to-top:active {
	background-color: hsla(0,0%,80%,1);
}