%aside#modal_age.modal_age{"data-modal" => "age"}
	.wrap_content{"data-container" => "width-926"}

		%h3 Restriction Notice:

		%p By checking this box I certify that I am a citizen of the United States, or a permanent resident alien, and at least 18 years of age, or 21 years of age or older where required by law. I also certify that I am not prohibited from possessing or purchasing any potentially restricted items by federal, state, or local laws/regulations. For consumer safety, I am aware that some items are not returnable. I am further aware if purchasing ammunition, it must be used in the correct caliber/gauge of firearm.

		%h3 Export Restriction Notice:

		%p Some items purchased may be strictly controlled from export by the United States Department of State (Directorate of Defense Trade Controls, http://www.pmddtc.state.gov/index.html) or the United States Department of Commerce (Bureau of Industry and Security, http://www.bis.doc.gov/).

		%p Please contact U.S. Customs and Border Protection (http://www.cbp.gov/xp/cgov/travel/vacation/kbyg/) for guidance on exporting items such as ammunition, firearm parts, optics, GPS, and other potentially restricted items that may be offered for sale on this website. Serious penalties, both criminal and civil, may be imposed on persons who fail to comply with the export control laws of the United States.

		%a#age_cancel.modal_close.arrow_right{:href => "#"} OK, Got It