%aside#modal_cart-remove.modal_cart-remove{"data-modal" => "cart-remove"}
	.wrap_content{"data-container" => "width-926"}
		%h1 Are you sure you want to remove this item?
		%a#cart-remove_remove.arrow_right{:href => "#"} Remove Item
		%a#cart-remove_cancel.modal_close.arrow_left{:href => "#"} Cancel