%aside#modal_image.modal_image{"data-modal" => "image"}
	.wrap_content{"data-container" => "width-926"}
		%img{:src => "assets/img/pdp_image-1.jpg", :alt => "Image #1"}
		%a#image_close.button_close.modal_close{:href => "#"}
			%svg.svg_remove
				%use{"xlink:href" => "#remove"}