#test_modal.test_modal
	%a#modal-1.modal-1.modal_open{:href => "#modal_phone"} 1
	%a#modal-2.modal-2.modal_open{:href => "#modal_timeout-cart"} 2
	%a#modal-3.modal-3.modal_open{:href => "#modal_timeout-empty"} 3