%aside#modal_timeout-cart.modal_timeout-cart{"data-modal" => "timeout-cart"}
	.wrap_content{"data-container" => "width-926"}
		%h1 This shopping session will expire in 30 seconds. Would you like to finalize your order?
		%a#timeout-cart_finalize.arrow_right{:href => "/cart-final.html", :title => "View Cart"} View Cart
		%a#timeout-cart_cancel.modal_close.arrow_left{:href => "#", :title => "Cancel My Session"} Cancel My Session