%form#options_form.options_form.has-dropdown.has-quantity{:action => "", :method => "POST", "data-container" => "width-926", :novalidate => true}

	-# :onchange => "this.form.submit()"
	-# if variation is out of stock, that <option> receives the "disabled" attribute - corresponding <li> element gets 'disabled' class

	-# if user has made a selection for both "color" and "size",
	-# then decides to change the selected <option> for "color",
	-# "size" needs to be reset back to no selection:
	-# data-selected = "" | no <option> has :selected | h6.dropdown_label = "2. Select Size" | li.dropdown_option remove class "selected"

	%article.wrap_option-color{"data-selected" => ""}

		%select#option_color.visuallyhidden{:name => "option_color"}
			%option{:value => "color-white"} White
			%option{:value => "color-black"} Black
			%option{:value => "color-red", :disabled => true} Red
			%option{:value => "color-orange", :disabled => true} Orange
			%option{:value => "color-yellow"} Yellow
			%option{:value => "color-green"} Green
			%option{:value => "color-blue", :disabled => true} Blue
			%option{:value => "color-purple"} Purple

		%h6.dropdown_label.truncate{"data-label" => "1. Select Color"} 1. Select Color

		.wrap_scroll-list{"data-maxheight" => "320"}
			%ul.dropdown_list
				%li.dropdown_option
					%a.dropdown_link{:href => "#", "data-value" => "color-white"}
						%span.variation_label.truncate White
				%li.dropdown_option
					%a.dropdown_link{:href => "#", "data-value" => "color-black"}
						%span.variation_label.truncate Black
				%li.dropdown_option.disabled
					%a.dropdown_link{:href => "#", "data-value" => "color-red"}
						%span.variation_label.truncate Red
				%li.dropdown_option.disabled
					%a.dropdown_link{:href => "#", "data-value" => "color-orange"}
						%span.variation_label.truncate Orange
				%li.dropdown_option
					%a.dropdown_link{:href => "#", "data-value" => "color-yellow"}
						%span.variation_label.truncate Yellow
				%li.dropdown_option
					%a.dropdown_link{:href => "#", "data-value" => "color-green"}
						%span.variation_label.truncate Green
				%li.dropdown_option.disabled
					%a.dropdown_link{:href => "#", "data-value" => "color-blue"}
						%span.variation_label.truncate Nautical Ocean Southern Hemisphere Island Blue
				%li.dropdown_option
					%a.dropdown_link{:href => "#", "data-value" => "color-purple"}
						%span.variation_label.truncate Purple


	-# disabled until previous option has been selected - remove 'disabled' class when this happens
	-# add 'disabled' class when no option is selected (user decides to change "color" selection)
	%article.wrap_option-size.disabled{"data-selected" => ""}

		%select#option_size.visuallyhidden{:name => "option_size"}
			%option{:value => "size-xs"} Extra Small $9.99
			%option{:value => "size-s"} Small $19.99
			%option{:value => "size-m", :disabled => true} Medium $29.99
			%option{:value => "size-l"} Large $39.99
			%option{:value => "size-xl"} Extra Large $49.99

		%h6.dropdown_label.truncate{"data-label" => "2. Select Size"} 2. Select Size

		-# if required, span.variation_label can use the 'data-label" attribute for alternate labels
		.wrap_scroll-list{"data-maxheight" => "320"}
			%ul.dropdown_list
				%li.dropdown_option
					%a.dropdown_link{:href => "#", "data-value" => "size-xs"}
						%span.variation_label.truncate{"data-label" => "XS Super long title"} Extra Small With a Long Title
						%span.variation_price $9.99
						%span.variation_stock In Stock
				%li.dropdown_option
					%a.dropdown_link{:href => "#", "data-value" => "size-s"}
						%span.variation_label.truncate{"data-label" => "S"} Small
						%span.variation_price $19.99
						%span.variation_stock In Stock
				%li.dropdown_option.disabled
					%a.dropdown_link{:href => "#", "data-value" => "size-m"}
						%span.variation_label.truncate{"data-label" => "M"} Medium
						%span.variation_price $29.99
						%span.variation_stock Out of Stock
				%li.dropdown_option
					%a.dropdown_link{:href => "#", "data-value" => "size-l"}
						%span.variation_label.truncate{"data-label" => "L"} Large
						%span.variation_price $39.99
						%span.variation_stock In Stock
				%li.dropdown_option
					%a.dropdown_link{:href => "#", "data-value" => "size-xl"}
						%span.variation_label.truncate{"data-label" => "XL"} Extra Large
						%span.variation_price $49.99
						%span.variation_stock In Stock


	.adjust_quantity
		%input.adjust_number{:type => "number", :min => "1", :max => "999", :step => "1", :value => "1", :name => "307901"}
		%button.adjust_decrease{:type => "button"}
			%svg.svg_minus
				%use{"xlink:href" => "#minus"}
		%button.adjust_increase{:type => "button"}
			%svg.svg_plus
				%use{"xlink:href" => "#plus"}
		%p.error_invalid Invalid Input