%header#header_csr.header_csr{"data-container" => "width-926"}

	#logo_sportsmans.logo_sportsmans
		%img{:src => "assets/img/logo_sportsmans.png", :alt => "Sportsman's Warehouse"}

	-# link to: departments listing
	%a#new-lookup.new-lookup.button_circle{:href => "/prod-dept.html", :title => "New Lookup"}
		%span.wrap_text New Lookup

	-# only on: csr-info, csr-phone, csr-cart
	%a#log-out.log-out.button_circle{:href => "/index.html", :title => "Log Out"}
		%span.wrap_text Log Out

	%h1#page_title Customer Service

	-# only on: csr-cart page
	%h2
		Phone Number:
		%span#phone_number 613-555-0123

	-# only on: csr-cart
	%a#shop-more.btn_arw-left{:href => "/prod-indv.html", :title => "Shop For More Items"}
		%span Shop For More Items
		%svg.svg_btn_arw-left
			%use{"xlink:href" => "#btn_arw-left"}