%form#csr-display_form.csr-order_form.cart_form{:action => "", :method => "GET"}

	%table

		%thead
			%tr
				%th.header_number Order #
				%th.header_customer Customer
				%th.header_date Date
				%th.header_status Status
				%th.header_total Total
				%th.header_select Select

		%tbody

			-# row ID is suffixed with order number
			%tr#row_12345
				%td.order_number 12345
				%td.order_customer Haley Joel Osment
				%td.order_date 12/08/2014
				%td.order_status Shipped
				%td.order_total $65.98
				%td.order_select
					-# since this item is already shipped, the <a> receives the "disabled" class (assumed functionality...)
					%a.disabled{:href => "#", :title => "Select This Order"} Select

			%tr#row_67890
				%td.order_number 67890
				%td.order_customer Hannibal Buress
				%td.order_date 12/06/2014
				%td.order_status Pending
				%td.order_total $2042.67
				%td.order_select
					%a{:href => "#", :title => "Select This Order"} Select

			%tr#row_54321
				%td.order_number 54321
				%td.order_customer John Jacob Jingleheimer Schmidt
				%td.order_date 12/01/2014
				%td.order_status On Fire
				%td.order_total $666.66
				%td.order_select
					%a{:href => "#", :title => "Select This Order"} Select

			%tr#row_67890
				%td.order_number 33333
				%td.order_customer Gaben
				%td.order_date 03/03/2013
				%td.order_status HL3 Confirmed
				%td.order_total $3.33
				%td.order_select
					%a{:href => "#", :title => "Select This Order"} Select