.top_row

	#logo_sportsmans.logo_sportsmans
		%img{:src => "assets/img/logo_sportsmans.png", :alt => "Sportsman's Warehouse"}

	-# present on all product grid pages except: Departments
	%a#button_back.arrow_left{:href => "#", :title => "Back To Ammunition"} Back To Ammunition

	-# visible on all screens except: ()
	%aside#widget_cart.widget_cart
		.wrap_text
			%p#widget_cart-items.widget_cart-items 10 items
			%p#widget_cart-total.widget_cart-total $152.50
		%a#button_cart.button_cart.arrow_right{:href => "#", :title => "View Cart"}
			%svg.svg_cart
				%use{"xlink:href" => "#cart"}
			View Cart

	%a#back-to-top.back-to-top{:href => "#root", :title => "Back To Top", "data-scroll" => true} Back To Top