%header#header_csr.header_csr{"data-container" => "width-926"}

	#logo_sportsmans.logo_sportsmans
		%img{:src => "assets/img/logo_sportsmans.png", :alt => "Sportsman's Warehouse"}

	-# added to markup only after logged in
	%a#log-out.log-out.button_circle{:href => "/index.html", :title => "Log Out"}
		%span.wrap_text Log Out

	-# all CSR pages use the same title
	%h1#page_title Customer Service