%head

	%meta{:charset => "utf-8"}
	%meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}

	-# since browser chrome will be hidden (fullscreen mode), this really does not require updating for each individual page...
	-# but it may still be useful for ThinkWrap's purposes
	%title Sportsman's Warehouse

	%meta{:name => "description", :content => "Find all your hunting, fishing & camping gear at Sportsman's Warehouse! Shop our huge selection of ammo, fishing rods & reels, tents & more at our everyday low price."}
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

	%link{:rel => "stylesheet", :href => "assets/css/styles.css?v=1"}