%nav#filter_form.filter_form{"data-container" => "width-926"}

	-# Should discuss this with Matt...
	-# Will likely need to have a <form> with <select> elements,
	-# in which case we will need to write some JS in order to create a <ul> which can be styled

	#filter_brand.filter_brand
		%p.filter_label Brand
		%ul.dropdown_list
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "1"} Option One
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "2"} Option Two
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "3"} Option Three
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "4"} Option Four

	#filter_caliber.filter_caliber
		%p.filter_label Caliber
		%ul.dropdown_option
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "1"} Option One
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "2"} Option Two
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "3"} Option Three
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "4"} Option Four
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "5"} Option Five
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "6"} Option Six

	#filter_price.filter_price
		%p.filter_label Price
		%ul.dropdown_option
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "1"} Option One
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "2"} Option Two
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "3"} Option Three