%form#filter_form.filter_form{:action => "", :method => "POST", "data-container" => "width-926"}

	.wrap_filter-brand.wrap_select

		-# , :onchange => "this.form.submit()"
		%select#filter_brand.filter_brand.visuallyhidden{:name => "filter_brand"}
			%option{:selected => true} Brand
			%option{:value => "a-1"} Option One
			%option{:value => "a-2"} Option Two
			%option{:value => "a-3"} Option Three
			%option{:value => "a-4"} Option Four

		%p.filter_label Brand
		%ul.dropdown_list
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "a-1"} Option One
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "a-2"} Option Two
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "a-3"} Option Three
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "a-4"} Option Four

	.wrap_filter-caliber.wrap_select

		%select#filter_caliber.filter_caliber.visuallyhidden{:name => "filter_caliber"}
			%option{:selected => true} Caliber
			%option{:value => "b-1"} Option One
			%option{:value => "b-2"} Option Two
			%option{:value => "b-3"} Option Three
			%option{:value => "b-4"} Option Four
			%option{:value => "b-5"} Option Five
			%option{:value => "b-6"} Option Six

		%p.filter_label Caliber
		%ul.dropdown_option
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "b-1"} Option One
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "b-2"} Option Two
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "b-3"} Option Three
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "b-4"} Option Four
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "b-5"} Option Five
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "b-6"} Option Six

	.wrap_filter-price.wrap_select

		%select#filter_price.filter_price.visuallyhidden{:name => "filter_price"}
			%option{:selected => true} Price
			%option{:value => "c-1"} Option One
			%option{:value => "c-2"} Option Two
			%option{:value => "c-3"} Option Three

		%p.filter_label Price
		%ul.dropdown_option
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "c-1"} Option One
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "c-2"} Option Two
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "c-3"} Option Three