%header

	.top_row{"data-container" => "width-998"}

		#logo_sportsmans.logo_sportsmans
			%img{:src => "assets/img/logo_sportsmans.png", :alt => "Sportsman's Warehouse"}

		-# not on all pages... location aware (links back to parent)
		-# %a#button_back.button_back.arrow_left{:href => "#", :title => "Back To Ammunition"} Back To Ammunition

		%a#button_back.button_back.svg_wrap{:href => "#", :title => "Back To Ammunition"}
			%span Back To Ammunition
			%svg.svg_backbutton
				%use{"xlink:href" => "#backbutton"}

		-# visible on all screens except: ()
		%aside#widget_cart.widget_cart
			.text_wrap
				.svg_wrap
					%svg.svg_cart
						%use{"xlink:href" => "#cart"}
				%p#widget_cart-items.widget_cart-items 10 items in cart
				%p#widget_cart-total.widget_cart-total $152.50
			%a#button_cart.button_cart.arrow_right{:href => "#", :title => "View Cart"} View Cart

	.title_row{"data-container" => "width-926"}

		%h1 Rifle Ammunition

		%form#search_form.search_form{:action => "", :method => "GET", :role => "search"}
			%input#search_text.search_text{:type => "text", :name => "search", :value => "", :autocomplete => "off", :placeholder => "Search for a specific product", :required => true}
			%input#search_submit.search_submit{:type => "submit", :value => "Submit"}
			.search_icon.svg_wrap
				%svg.svg_search
					%use{'xlink:href' => '#search'}

		%a#button_view-all.button_view-all.button_circle{:href => "#", :title => "View All Departments"}
			%span.text-wrap View All Departments
		%a#button_start-over.button_start-over.button_circle{:href => "#", :title => "Start Over"}
			%span.text-wrap Start Over


	-# not visible on all pages... on some pages, must retain empy height for layout
	= Haml::Engine.new(File.read("dev/haml/partials/_m-pagination.haml")).render

	-# only visible on product grid pages
	= Haml::Engine.new(File.read("dev/haml/partials/_m-filters.haml")).render
