%nav#product_pagination.product_pagination
	%ul
		%li.pagi_prev
			%a{:href => "#", :title => "Previous Results Page"} Previous
		%li.pagi_between.pagi_numeral.pagi_first.pagi_current
			%a{:href => "#", :title => "Results Page 1"} 1
		%li.pagi_between.pagi_numeral
			%a{:href => "#", :title => "Results Page 2"} 2
		%li.pagi_between.pagi_numeral
			%a{:href => "#", :title => "Results Page 3"} 3
		%li.pagi_between.pagi_numeral
			%a{:href => "#", :title => "Results Page 4"} 4
		%li.pagi_between.pagi_numeral
			%a{:href => "#", :title => "Results Page 5"} 5
		%li.pagi_between.pagi_more
			%a{:href => "#", :title => "More Results"} ...
		%li.pagi_between.pagi_numeral.pagi_last
			%a{:href => "#", :title => "Results Page 100"} 100
		%li.pagi_next
			%a{:href => "#", :title => "Next Results Page"} Next