%aside#modal_timeout-empty.modal_timeout-empty{"data-modal" => "timeout-empty"}
	.wrap_content{"data-container" => "width-926"}
		%h1 This shopping session will expire in 30 seconds due to inactivity.
		%a#timeout-empty_continue.arrow_right{:href => "#", :title => "Continue Shopping"} Continue Shopping
		%a#timeout-empty_start-over.modal_close.arrow_left{:href => "#", :title => "Start Over"} Start Over