.reviews

	-# if no reviews, output this <p>
	-# %p.no-reviews There are no reviews for this product

	-# otherwise, output this:

	-# the sportsmans website seems to use partial ratings,
	-# but visually, it only shows full or empty stars (ex. 4.7 = 5 full stars)
	-# do we need to visually account for partial ratings? (1.2, 2.9, 4.6)

	-# if not, the logic here is simple...
	-# simply round the partial rating and use the integer for 'data-rating' (ex. 4.2 = 4 |or| 4.7 = 5)

	-# otherwise, use the floating point value for 'data-value' (ex. 3.5)
	-# in this example, since 3 is followed by a decimal, we go to the 4th <li> element,
	-# and add the following attribute: [ style = "display: block; width: 50%;" ]
	-# changing "50%" to whatever the decimal may be (ex. .2 * 100 = 20)

	%ul.reviews_rating{"data-rating" => "3"}
		%li.star-1
			.poly_star
			%svg.svg_star
				%use{'xlink:href' => '#star'}
		%li.star-2
			.poly_star
			%svg.svg_star
				%use{'xlink:href' => '#star'}
		%li.star-3
			.poly_star
			%svg.svg_star
				%use{'xlink:href' => '#star'}
		%li.star-4
			.poly_star
			%svg.svg_star
				%use{'xlink:href' => '#star'}
		%li.star-5
			.poly_star
			%svg.svg_star
				%use{'xlink:href' => '#star'}

	-# Would it be easier if I wrapped "15" in a tag?
	-# "Review(s)" pluralized when greater than 1
	%a#reviews_link.reviews_link{:href => "#", :title => "Read Reviews"} Read 15 Reviews