%form#options_form.options_form.has-dropdown.has-quantity{:action => "", :method => "POST", "data-container" => "width-926"}

	.wrap_option-size.wrap_select

		-# , :onchange => "this.form.submit()"
		%select#option_size.option_size.visuallyhidden{:name => "option_size"}
			%option{:value => "", :selected => true} 1. Select Size
			%option{:value => "a-1"} Option One
			%option{:value => "a-2"} Option Two
			%option{:value => "a-3"} Option Three
			%option{:value => "a-4"} Option Four

		%p#option_label-size.option_label.dropdown_label 1. Select Size
		%ul.dropdown_list
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => ""} Clear Selection
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "a-1"} Option One
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "a-2"} Option Two
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "a-3"} Option Three
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "a-4"} Option Four

	.wrap_option-color.wrap_select

		%select#option_color.option_color.visuallyhidden{:name => "option_color"}
			%option{:value => "", :selected => true} 2. Select Color
			%option{:value => "b-1"} Option One
			%option{:value => "b-2"} Option Two
			%option{:value => "b-3"} Option Three
			%option{:value => "b-4"} Option Four
			%option{:value => "b-5"} Option Five
			%option{:value => "b-6"} Option Six

		%p#option_label-color.option_label.dropdown_label 2. Select Color
		%ul.dropdown_option
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => ""} Clear Selection
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "b-1"} Option One
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "b-2"} Option Two
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "b-3"} Option Three
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "b-4"} Option Four
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "b-5"} Option Five
			%li.dropdown_option
				%a.dropdown_link{:href => "#", "data-value" => "b-6"} Option Six

	.adjust_quantity
		%input.adjust_number{:type => "number", :min => "1", :max => "999", :step => "1", :value => "1", :name => "307901"}
		%button.adjust_decrease{:type => "button"}
			%svg.svg_minus
				%use{"xlink:href" => "#minus"}
		%button.adjust_increase{:type => "button"}
			%svg.svg_plus
				%use{"xlink:href" => "#plus"}
		%p.error_invalid Invalid Input